{% extends 'base.html' %}
{% block title %}
    添加职位
{% endblock %}
{% block contain_title %}
    <h1 class="page-header">
        {{ department_obj.name }}-职位管理
        <a class="btn btn-default pull-right" data-toggle="modal" data-target="#add_modal">添加</a>
    </h1>
{% endblock %}
{%  block contain %}
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>职位名称</th>
                                <th>职位等级</th>
                                <th>职位操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in position_obj %}

                                <tr>
                                    <td class="col-lg-4">{{ position_obj.name }}</td>
                                    <td class="col-lg-4">{{ position_obj.level }}</td>
                                    <td class="col-lg-4">
                                        <a class="btn btn-default" data-toggle="modal"
                                           onclick="getPositionInfo('{{ position_obj.id }}','{{ position_obj.name }}','{{ position_obj.level }}');"
                                           data-target="#edit_modal">编辑</a>
                                        <a class="btn btn-default"
                                           href="/delete_position/?id={{ position_obj.id }}">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    <div class="modal" id="add_modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                    </button>
                                    <h4>新增职位</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="/add_position/" method="post">
                                        <input type="hidden" name="dept_id" value="{{ dept_obj.id }}">
                                        <div class="form-group">
                                            <label class="control-label">职位名称：</label>
                                            <input class="form-control" type="text" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">职位等级：</label>
                                            <input class="form-control" type="number" name="level">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-block">提交</button>
                                        </div>
                                    </form>
                                </div>
                                <!--
                                <div class="modal-footer"></div>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="modal" id="edit_modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                    </button>
                                    <h4>编辑职位</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="/edit_position/" method="post">
                                        <input type="hidden" id="position_id" name="position_id">
                                        <div class="form-group">
                                            <label class="control-label">职位名称：</label>
                                            <input class="form-control" type="text" id="position_name" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">职位等级：</label>
                                            <input class="form-control" type="number" id="position_level" name="level">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-block">提交</button>
                                        </div>
                                    </form>
                                </div>
                                <!--
                                <div class="modal-footer"></div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <script>
        function getPositionInfo(id, name, level) {
            var position_name = document.getElementById('position_name');
            var position_level = document.getElementById('position_level');
            var position_id = document.getElementById('position_id');
            position_name.value = name;
            position_level.value = level;
            position_id.value = id;
        }

    </script>
{% endblock %}